<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="bi bi-hdd-stack"></i> Drive</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#userNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="userNavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/owned"><i class="bi bi-folder2-open"></i> Owned File</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shared"><i class="bi bi-share-fill"></i> Shared File</a>
        </li>

        <% if (auth && auth.roles.some(role => role === "admin")) { %>
          <li class="nav-item">
            <a class="nav-link" href="/admin/manage-user"><i class="bi bi-person-gear"></i> Manage User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/manage-file"><i class="bi bi-file-earmark-text"></i> Manage File</a>
          </li>
        <% } %>
      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
          >
            <i class="bi bi-person-circle fs-4"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/change-profile"><i class="bi bi-person-lines-fill"></i> Update Profile</a></li>
            <li><a class="dropdown-item" href="/change-password"><i class="bi bi-key-fill"></i> Change Password</a></li>
            <li><a class="dropdown-item" href="/logout"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
