<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Drive</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#userNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="userNavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/owned">Owned File</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shared">Shared File</a>
        </li>

        <% if (Array.isArray(user.Roles) && user.Roles.some(role => role.name === "admin")) { %>
          <li class="nav-item">
            <a class="nav-link" href="/admin/manage-user">Manage User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/manage-file">Manage File</a>
          </li>
        <% } %>
      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
          >
            <i class="bi bi-person-circle fs-4"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
